<h2 class="entry-title"><%= link_to(post.title, post_path(post)) %></h2>
<div class="entry-content">
  <%=raw post.body_html %>
</div>
<footer class="post-meta">
  <p>
    <% unless post.tags.empty? -%>
      Tagged <%= linked_tag_list(post.tags) %>
    <% end -%>
    on <%= format_post_date(post.published_at) %>
    <!-- on <time datetime="2011-05-14" pubdate>May 14th, 2011</time> -->
  </p>
  <%= link_to('comment', post_path(post), :class => "more-link") %>
</footer>
