<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><%= html_title yield(:page_title) %></title>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Limelight|Playfair+Display&amp;v2' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'reset', '960', 'text', 'xyzzyb' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'rails' %>
  <%= open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation] %>
  <%= yield(:head) %>
</head>
<body class="blog">

  <header class="blog">
    <section class="container_12">
      <section class="grid_12">
        <h1><a href="<%= root_url %>"><%= enki_config[:title] %></a></h1>
      </section>
    </section>
  </header>

  <nav class="blog">
    <div class="container_12 clearfix">
      <div class="grid_12">
        <ul class="topmenu">
          <% page_links_for_navigation.each do |link| -%>
            <li><%= link_to(link.name, link.url) %></li>
          <% end -%>
          <li>
            <form method="get" id="sform" action="http://www.google.com/search">
              <label for="q">Search</label>
              <input type="text" id="q" value="" name="q">
              <input type="hidden" name="sitesearch" value="<%= enki_config[:url] %>">
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="container_12">
    <section class="grid_9">
      <%= yield %>
    </section>
    <section class="grid_3">
      <h2>Tags</h2>
      <ul>
        <% category_links_for_navigation.each do |link| -%>
          <li><%= link_to(link.name, link.url) %></li>
        <% end -%>
      </ul>
    </section>
  </section>
  <footer class="clearfix">
    <section class="container_12">
      <section class="grid_12">
        <%= enki_config[:title] %> &#169; <%= enki_config[:author, :name] %>. Powered by <a href="http://www.enkiblog.com" title="A Ruby on Rails blogging app for the fashionable developer">Enki</a>.
      </section>
    </section>
  </footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8937103-1']);
  _gaq.push(['_setDomainName', '.xyzzyb.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
