<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><%= html_title yield(:page_title) %></title>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Limelight&amp;v1' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'reset', '960', 'text', 'xyzzyb' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'jquery.lettering-0.6.1.min.js' %>
  <%= javascript_include_tag 'homepage' %>
  <%= open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation] %>
  <%= yield(:head) %>
</head>
<body>
  <section class="container_12">
    <%= yield %>
  </section>
  <%= render :partial => 'application/footer' %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8937103-1']);
    _gaq.push(['_setDomainName', '.xyzzyb.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
